<!-- <div class="container">
  <p>
    Welcome {{user}}!
  </p>
</div>
 --> 
 <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-3 imagesContainerNorthAmerica imagesContainer">
                <img class="img-responsive imagesStyle imageStyleNorthAmerica" src="‪..\..\assets\semantic\themes\default\assets\images\NorthAmerica.jpg">
                <a href="NorthAmerica.html"> <span class="fa fa-eye openLink"></span></a>
                <div class="textStyle"> North America </div>
            </div>
            <div class="col-md-3 col-lg-3 imagesContainerEurope imagesContainer">
                <img class="img-responsive imagesStyle imageStyleEurope" src="..\..\assets\semantic\themes\default\assets\images\Europe.jpg">
                <a href="Europe.html"> <span class="fa fa-eye openLink"></span></a>
                <div class="textStyle"> Europe </div>
            </div>
            <div class="col-md-6 col-lg-6 imagesContainerAsia imagesContainer">
                <img class="img-responsive imagesStyle imageStyleAsia" src="‪..\..\assets\semantic\themes\default\assets\images\Asia.jpg">
                <a href="Asia.html"> <span class="fa fa-eye openLink"></span></a>
                <div class="textStyle"> Asia </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3 imagesContainerSouthAmerica imagesContainer">
                <img class="img-responsive imagesStyle imageStyleSouthAmerica" src="..\..\assets\semantic\themes\default\assets\images\SouthAmerica.jpg">
                <a href="SouthAmerica.html"> <span class="fa fa-eye openLink"></span></a>
                <div class="textStyle"> South America </div>
            </div>
            <div class="col-md-3 col-lg-3 imagesContainerAfrica imagesContainer">
                <img class="img-responsive imagesStyle imageStyleAfrica" src="‪..\..\assets\semantic\themes\default\assets\images\Africa.jpg">
                <a href="Africa.html"> <span class="fa fa-eye openLink openLinkAfrica"></span></a>
                <div class="textStyle textStyleAfrica"> Africa </div>
            </div>
             <div class="col-md-3 col-lg-3 imagesContainerAntarctica imagesContainer">
                <img class="img-responsive imagesStyle imageStyleAntarctica" src="‪..\..\assets\semantic\themes\default\assets\images\Antarctica.jpg">
                <a href="Antarctica.html"> <span class="fa fa-eye openLink"></span></a>
                <div class="textStyle"> Antarctica </div>
            </div>
            <div class="col-md-3 col-lg-3 imagesContainerAustralia imagesContainer">
                 <img class="img-responsive imagesStyle imageStyleAustralia" src="‪..\..\assets\semantic\themes\default\assets\images\Australia.jpg">
                <a href="Australia.html"> <span class="fa fa-eye openLink"></span></a>
                <div class="textStyle"> Australia </div>
            </div>
        </div>
</div>
<footer>
    <p>© 2017 Brasov</p>
</footer>
