<div class="row">
  <div class="col-lg-3 col-md-3 col-xs-3">
    <div class="sidebar sidebar-left">
      <div class="scrollable" id="sidebar-wrapper">
        <li class="countries aColor alignText"><a>Canada<span id="spanID" data-target="#canadaPlaces"></span></a></li>
        <ul id="canadaPlaces" class="nav nav-tabs tabs-left aColor collapse in">
          <li class="liTabs"><a href="#athabascaGlacier" data-toggle="tab">Athabasca Glacier</a></li>
          <li class="liTabs"><a href="#crowsnestPass" data-toggle="tab">Crowsnest Pass</a></li>
          <li class="liTabs"><a href="#messages" data-toggle="tab">Sandbanks Provincial Park</a></li>
          <li class="liTabs"><a href="#settings" data-toggle="tab">Banff National Park</a></li>
        </ul>
        <li class="countries aColor alignText" data-target="#usaPlaces"><a>USA<span data-target="#usaPlaces"></span></a></li>
        <ul id="usaPlaces" class="nav nav-tabs tabs-left aColor collapse">
          <li class="liTabs"><a href="#home" data-toggle="tab"> Canyonlands National Park</a></li>
          <li class="liTabs"><a href="#profile" data-toggle="tab">Horseshoe Bend</a></li>
          <li class="liTabs"><a href="#messages" data-toggle="tab">Upper Antelope Canyon</a></li>
          <li class="liTabs"><a href="#settings" data-toggle="tab">Custer State Park</a></li>

        </ul>
        <li class="countries aColor alignText"><a>Mexico<span data-target="#mexicoPlaces"></span></a></li>
        <ul id="mexicoPlaces" class="nav nav-tabs tabs-left aColor collapse">
          <li class="liTabs"><a href="#home" data-toggle="tab">Sima de las Cotorras</a></li>
          <li class="liTabs"><a href="#profile" data-toggle="tab">Tamul Falls</a></li>
          <li class="liTabs"><a href="#messages" data-toggle="tab">Cañon de la Angostura</a></li>
          <li class="liTabs"><a href="#settings" data-toggle="tab">Grutas de Cacahuamilpan</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-xs-9 ">
    <div class="tab-content col9Style">
      <div class="tab-pane active" id="athabascaGlacier">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-xs-9">
            <div>
              <h2><span class="fa fa-heart-o" aria-hidden="true"></span>Athabasca Glacier</h2>
            </div>
           
           
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img id="img1" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\AthabascaGlacier\2Glacier.jpg" (click)="changeImage('img1')">
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img id="img2" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\AthabascaGlacier\3GI-Stepping-off-Red-Bus.jpg" (click)="changeImage('img2')">
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img id="img3" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\AthabascaGlacier\1Athabasca_Glacier.jpg" (click)="changeImage('img3')">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img id="img4" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\AthabascaGlacier\4MBN-Glacier.jpg" (click)="changeImage('img4')">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
        </div>
        <div class="row rowStyle">
          <div class="col-lg-9 col-md-9 col-xs-9">
            <img id="mainImage" class="img-responsive imageContentBig" src="..\..\assets\semantic\themes\default\assets\images\AthabascaGlacier\2Glacier.jpg">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3">
            <img id="img5" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\AthabascaGlacier\5GI-skywalk.jpg" (click)="changeImage('img5')">
            <img id="img6" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\AthabascaGlacier\7AG.jpg" (click)="changeImage('img6')">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
        </div>
        <div class="row h3style">
          <div class="col-lg-12 col-md-12 col-xs-12">
            <h4>When it comes to places to visit before they disappear, the Athabasca Glacier should be on your list. This nearly four mile (6 km) glacier, located in Jasper National Park in the Canadian Rockies, is one of the most accessible glaciers in Canada—and the most visited glacier in North America. But this natural wonder could disappear within a generation due to climate change; the glacier has been receding about 16 feet (five meters) a year.</h4>
          </div>
        </div>
      </div>


 <div class="tab-pane" id="crowsnestPass">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-xs-9">
            <div>
              <h2><span class="fa fa-heart-o" aria-hidden="true"></span>Crowsnest Pass</h2>
            </div>
           
           
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\Asia.jpg">
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\Asia.jpg">
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\Asia.jpg">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\Asia.jpg">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
        </div>
        <div class="row rowStyle">
          <div class="col-lg-9 col-md-9 col-xs-9">
            <img class="img-responsive imageContentBig" src="..\..\assets\semantic\themes\default\assets\images\Asia.jpg">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3">
            <img class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\Asia.jpg">
            <img class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\Asia.jpg">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
        </div>
        <div class="row h3style">
          <div class="col-lg-12 col-md-12 col-xs-12">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget pulvinar libero. Etiam ultrices interdum quam in finibus. Duis consectetur dictum mauris. </h3>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<footer>
  <p>© 2017 Brasov</p>
</footer>