       <div class="container-fluid">
        <div class="row sidebarRow">
            <div class="col-lg-3 col-xs-3">
                <div id="sidebar-wrapper">
                    <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-left sidebar-nav aColor">
                        <li class="countries"><a>Canada<span id="spanID" class="glyphicon glyphicon-menu-hamburger iconFloat" data-toggle="collapse" data-target="#canadaPlaces"></span></a></li>
                        <ul id="canadaPlaces" class="nav nav-tabs tabs-left sidebar-nav aColor collapse in">
                            <li class="active"><a href="#home" data-toggle="tab">Athabasca Glacier</a></li>
                            <li><a href="#profile" data-toggle="tab">Crowsnest Pass</a></li>
                            <li><a href="#messages" data-toggle="tab">Sandbanks Provincial Park</a></li>
                            <li><a href="#settings" data-toggle="tab">Banff National Park</a></li>
                            <li><a href="#settings" data-toggle="tab">Banff National Park</a></li>
                            <li><a href="#settings" data-toggle="tab">Banff National Park</a></li>
                            <li><a href="#settings" data-toggle="tab">Banff National Park</a></li>
                        </ul>
                        <li class="countries"><a>USA<span class="glyphicon glyphicon-menu-hamburger iconFloat"  data-toggle="collapse" data-target="#usaPlaces"></span></a></li>
                        <ul id="usaPlaces" class="nav nav-tabs tabs-left sidebar-nav aColor collapse">
                            <li><a href="#home" data-toggle="tab"> Canyonlands National Park</a></li>
                            <li><a href="#profile" data-toggle="tab">Horseshoe Bend</a></li>
                            <li><a href="#messages" data-toggle="tab">Upper Antelope Canyon</a></li>
                            <li><a href="#settings" data-toggle="tab">Custer State Park</a></li>
                            <li><a href="#settings" data-toggle="tab">Avalanche Lake</a></li>
                            <li><a href="#settings" data-toggle="tab">Johnston Canyon</a></li>
                            <li><a href="#settings" data-toggle="tab">Trail Ridge Road</a></li>
                            <li><a href="#settings" data-toggle="tab">Custer State Park</a></li>
                            <li><a href="#settings" data-toggle="tab"> Mauna Kea Observatories</a></li>
                            <li><a href="#settings" data-toggle="tab">Watkins Glen State Park</a></li>
                            <li><a href="#settings" data-toggle="tab"></a></li>
                        </ul>
                        <li class="countries"><a>Mexico<span class="glyphicon glyphicon-menu-hamburger iconFloat"  data-toggle="collapse" data-target="#mexicoPlaces"></span></a></li>
                        <ul id="mexicoPlaces" class="nav nav-tabs tabs-left sidebar-nav aColor collapse">
                            <li><a href="#home" data-toggle="tab">Sima de las Cotorras</a></li>
                            <li><a href="#profile" data-toggle="tab">Tamul Falls</a></li>
                            <li><a href="#messages" data-toggle="tab">Cañon de la Angostura</a></li>
                            <li><a href="#settings" data-toggle="tab">Grutas de Cacahuamilpan</a></li>
                            <li><a href="#settings" data-toggle="tab">Banff National Park</a></li>
                            <li><a href="#settings" data-toggle="tab">Banff National Park</a></li>
                            <li><a href="#settings" data-toggle="tab">Banff National Park</a></li>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-xs-9 columnsPadding">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <div class="row">
                            <div class="col-lg-3 col-xs-3 ">
                                <img class="img-responsive imageContent" src="‪..\..\assets\semantic\themes\default\assets\images\NorthAmerica.jpg">
                            </div>
                            <div class="col-lg-3 col-xs-3 ">
                                <img class="img-responsive imageContent" src="‪..\..\assets\semantic\themes\default\assets\images\NorthAmerica.jpg">
                            </div>
                            <div class="col-lg-3 col-xs-3 ">
                                <img class="img-responsive imageContent" src="‪..\..\assets\semantic\themes\default\assets\images\NorthAmerica.jpg">
                                <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
                            </div>
                            <div class="col-lg-3 col-xs-3 ">
                                <img class="img-responsive imageContent" src="‪..\..\assets\semantic\themes\default\assets\images\NorthAmerica.jpg">
                                <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-xs-9">
                                <img class="img-responsive imageContent" src="‪..\..\assets\semantic\themes\default\assets\images\NorthAmerica.jpg">
                                <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="profile">Profile Tab.</div>
                    <div class="tab-pane" id="messages">Messages Tab.</div>
                    <div class="tab-pane" id="settings">Settings Tab.</div>
                </div>
            </div>
        </div>
    </div>