.sidebar{
    visibility: visible;
    height: 680px !important;
    width: 290px;
    position: relative;
    margin-top: 20px !important;
    background: #2b616d;
}

a {
    color: #FFF;
} 

.countries {
    font-size: 20px;
}

.alignText {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 20px;
}

.tabs-left>li {
    float: none;
    margin-bottom: 2px;
    margin-right: -2px;
    margin-left: -2px;
    }