<div class="sidebar sidebar-left">
  <div class="scrollable">
    <h1 class="scrollable-header countries aColor"><a>Canada<span id="spanID" class="glyphicon glyphicon-menu-hamburger iconFloat" data-toggle="collapse" data-target="#canadaPlaces"></span></a></h1>  

      <div class="list-group" ui-turn-off='uiSidebarLeft'>
        <a href="#home" data-toggle="tab">Athabasca Glacier</a>
                            <a href="#profile" data-toggle="tab">Crowsnest Pass</a>
                            <a href="#messages" data-toggle="tab">Sandbanks Provincial Park</a>
                            <a href="#settings" data-toggle="tab">Banff National Park</a>
                            <a href="#settings" data-toggle="tab">Banff National Park</a>
                            <a href="#settings" data-toggle="tab">Banff National Park</a>
                            <a href="#settings" data-toggle="tab">Banff National Park</a>
          
        <a class="list-group-item" href="#/link2">Link 2
          <i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>

<!-- <sui-sidebar class="ui left vertical visible sidebar menu">

<li class="countries aColor"><a>Canada<span id="spanID" class="glyphicon glyphicon-menu-hamburger iconFloat" data-toggle="collapse" data-target="#canadaPlaces"></span></a></li>
                        <ul id="canadaPlaces" class="nav nav-tabs tabs-left sidebar-nav aColor collapse in">
                            <li class="active"><a href="#home" data-toggle="tab">Athabasca Glacier</a></li>
                            <li><a href="#profile" data-toggle="tab">Crowsnest Pass</a></li>
                            <li><a href="#messages" data-toggle="tab">Sandbanks Provincial Park</a></li>
                            <li><a href="#settings" data-toggle="tab">Banff National Park</a></li>
                            <li><a href="#settings" data-toggle="tab">Banff National Park</a></li>
                            <li><a href="#settings" data-toggle="tab">Banff National Park</a></li>
                            <li><a href="#settings" data-toggle="tab">Banff National Park</a></li>
                        </ul>
                        <li class="countries aColor"><a>USA<span class="glyphicon glyphicon-menu-hamburger iconFloat"  data-toggle="collapse" data-target="#usaPlaces"></span></a></li>
                        <ul id="usaPlaces" class="nav nav-tabs tabs-left sidebar-nav aColor collapse">
                            <li><a href="#home" data-toggle="tab"> Canyonlands National Park</a></li>
                            <li><a href="#profile" data-toggle="tab">Horseshoe Bend</a></li>
                            <li><a href="#messages" data-toggle="tab">Upper Antelope Canyon</a></li>
                            <li><a href="#settings" data-toggle="tab">Custer State Park</a></li>
                            <li><a href="#settings" data-toggle="tab">Avalanche Lake</a></li>
                            <li><a href="#settings" data-toggle="tab">Johnston Canyon</a></li>
                            <li><a href="#settings" data-toggle="tab">Trail Ridge Road</a></li>
                            <li><a href="#settings" data-toggle="tab">Custer State Park</a></li>
                            <li><a href="#settings" data-toggle="tab"> Mauna Kea Observatories</a></li>
                            <li><a href="#settings" data-toggle="tab">Watkins Glen State Park</a></li>
                            <li><a href="#settings" data-toggle="tab"></a></li>
                        </ul>
                        <li class="countries aColor"><a>Mexico<span class="glyphicon glyphicon-menu-hamburger iconFloat"  data-toggle="collapse" data-target="#mexicoPlaces"></span></a></li>
                        <ul id="mexicoPlaces" class="nav nav-tabs tabs-left sidebar-nav aColor collapse">
                            <li><a href="#home" data-toggle="tab">Sima de las Cotorras</a></li>
                            <li><a href="#profile" data-toggle="tab">Tamul Falls</a></li>
                            <li><a href="#messages" data-toggle="tab">Cañon de la Angostura</a></li>
                            <li><a href="#settings" data-toggle="tab">Grutas de Cacahuamilpan</a></li>
                            <li><a href="#settings" data-toggle="tab">Banff National Park</a></li>
                            <li><a href="#settings" data-toggle="tab">Banff National Park</a></li>
                            <li><a href="#settings" data-toggle="tab">Banff National Park</a></li>
                        </ul>
</sui-sidebar>
       -->