<div class="row">
  <div class="col-lg-3 col-md-3 col-xs-3">
    <div class="sidebar sidebar-left">
      <div class="scrollable" id="sidebar-wrapper">
        <li class="countries aColor alignText"><a>Armenia<span id="spanID" data-target="#armeniaPlaces"></span></a></li>
        <ul id="armeniaPlaces" class="nav nav-tabs tabs-left aColor collapse in">
          <li class="liTabs"><a href="#Erevan" data-toggle="tab">Yerevan</a></li>
          <li class="liTabs"><a href="#crowsnestPass" data-toggle="tab">Crowsnest Pass</a></li>
          <li class="liTabs"><a href="#sandbanks" data-toggle="tab">Sandbanks Provincial Park</a></li>
          <li class="liTabs"><a href="#banffNationalPark" data-toggle="tab">Banff National Park</a></li>
        </ul>
        <li class="countries aColor alignText" data-target="#chinaPlaces"><a>China<span data-target="#chinaPlaces"></span></a></li>
        <ul id="chinaPlaces" class="nav nav-tabs tabs-left aColor collapse">
          <li class="liTabs"><a href="#canyonlands" data-toggle="tab"> Canyonlands National Park</a></li>
          <li class="liTabs"><a href="#horseshoe" data-toggle="tab">Horseshoe Bend</a></li>
          <li class="liTabs"><a href="#upper" data-toggle="tab">Upper Antelope Canyon</a></li>
          <li class="liTabs"><a href="#custer" data-toggle="tab">Custer State Park</a></li>
        </ul>
        <li class="countries aColor alignText"><a>India<span data-target="#indiaPlaces"></span></a></li>
        <ul id="indiaPlaces" class="nav nav-tabs tabs-left aColor collapse">
          <li class="liTabs"><a href="#simaCotorras" data-toggle="tab">Sima de las Cotorras</a></li>
          <li class="liTabs"><a href="#tamulFalls" data-toggle="tab">Tamul Falls</a></li>
          <li class="liTabs"><a href="#angostura" data-toggle="tab">Cañon de la Angostura</a></li>
          <li class="liTabs"><a href="#cacahuamilpan" data-toggle="tab">Grutas de Cacahuamilpan</a></li>
        </ul>
        <li class="countries aColor alignText"><a>Japan<span data-target="#japanPlaces"></span></a></li>
        <ul id="japanPlaces" class="nav nav-tabs tabs-left aColor collapse">
          <li class="liTabs"><a href="#simaCotorras" data-toggle="tab">Sima de las Cotorras</a></li>
          <li class="liTabs"><a href="#tamulFalls" data-toggle="tab">Tamul Falls</a></li>
          <li class="liTabs"><a href="#angostura" data-toggle="tab">Cañon de la Angostura</a></li>
          <li class="liTabs"><a href="#cacahuamilpan" data-toggle="tab">Grutas de Cacahuamilpan</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-xs-9 ">
    <div class="tab-content col9Style">
      <div class="tab-pane active" id="Erevan">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-xs-9">
            <div>
              <h2><span class="fa fa-heart-o" aria-hidden="true"></span>Yerevan</h2>
            </div>
           
           
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img id="img1" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\asia\Armenia\6Erevan.jpg" (click)="changeImage('img1', 'mainImage')">
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img id="img2" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\asia\Armenia\2Erevan.jpg" (click)="changeImage('img2', 'mainImage')">
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img id="img3" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\asia\Armenia\1Erevan.jpg" (click)="changeImage('img3', 'mainImage')">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img id="img4" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\asia\Armenia\4yerevan-from-cascades-ararat-112.jpg" (click)="changeImage('img4', 'mainImage')">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
        </div>
        <div class="row rowStyle">
          <div class="col-lg-9 col-md-9 col-xs-9">
            <img id="mainImage" class="img-responsive imageContentBig" src="..\..\assets\semantic\themes\default\assets\images\asia\Armenia\6Erevan.jpg">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3">
            <img id="img5" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\asia\Armenia\5Yerevan_Saint_Gregory.jpg" (click)="changeImage('img5', 'mainImage')">
            <img id="img6" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\asia\Armenia\3Erevan.jpg" (click)="changeImage('img6', 'mainImage')">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
        </div>
        <div class="row h3style">
          <div class="col-lg-12 col-md-12 col-xs-12">
            <h3>Yerevan survived centuries of foreign occupation, finally becoming independent with the fall of the Soviet Union. This capital city, a center of Armenian culture, has celebrated its freedom with a flurry of construction and a growing population. Despite this push forward, history survives in Yerevan - The Institute of Ancient Manuscripts houses books dating back to the 9th century, and the ruins of the Erebuni Fortress, built in 782 BC, still stand.</h3>
          </div>
        </div>
      </div>


 <div class="tab-pane" id="crowsnestPass">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-xs-9">
            <div>
              <h2><span class="fa fa-heart-o" aria-hidden="true"></span>Crowsnest Pass</h2>
            </div>
           
           
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img id="2img1" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\CrowsnestPass\1CP.jpg" (click)="changeImage('2img1', '2mainImage')">
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img id="2img2" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\CrowsnestPass\2CP.jpg" (click)="changeImage('2img2', '2mainImage')">
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img id="2img3" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\CrowsnestPass\3CP.jpg" (click)="changeImage('2img3', '2mainImage')">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img id="2img4" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\CrowsnestPass\4CP.jpg" (click)="changeImage('2img4', '2mainImage')">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
        </div>
        <div class="row rowStyle">
          <div class="col-lg-9 col-md-9 col-xs-9">
            <img id="2mainImage" class="img-responsive imageContentBig" src="..\..\assets\semantic\themes\default\assets\images\CrowsnestPass\1CP.jpg">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3">
            <img id="2img5" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\CrowsnestPass\5CP.jpg" (click)="changeImage('2img5', '2mainImage')">
            <img id="2img6" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\CrowsnestPass\6CP.jpg" (click)="changeImage('2img6', '2mainImage')">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
        </div>
        <div class="row h3style">
          <div class="col-lg-12 col-md-12 col-xs-12">
            <h3>The Crowsnest Pass is a unified community of five formerly separate towns (Blairmore, Bellevue, Coleman, Hillcrest, and Frank) cradled in a narrow stretch of lush valley in Southern Alberta's Rocky Mountains.  It is an idyllic natural setting of mountains, rolling hills and winding rivers.   The natural environment nurtures a genuine mountain lifestyle.  An abundance of outdoor activities await you including snowmobiling, snowshoeing, cross country skiing, downhill skiing, hiking, mountain biking, caving, fishing and hunting. </h3>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<footer>
  <p>© 2017 Brasov</p>
</footer>