<div class="row">
  <div class="col-lg-3 col-md-3 col-xs-3">
    <div class="sidebar sidebar-left">
      <div class="scrollable" id="sidebar-wrapper">
        <li class="countries aColor alignText"><a>Antarctica<span id="spanID" data-target="#canadaPlaces"></span></a></li>
        <ul id="canadaPlaces" class="nav nav-tabs tabs-left aColor collapse in">
          <li class="liTabs"><a href="#athabascaGlacier" data-toggle="tab">South Georgia</a></li>
          <li class="liTabs"><a href="#crowsnestPass" data-toggle="tab">Paradise Bay</a></li>
          <li class="liTabs"><a href="#sandbanks" data-toggle="tab">King George’s Island</a></li>
          <li class="liTabs"><a href="#banffNationalPark" data-toggle="tab">Deception Island</a></li>
           <li class="liTabs"><a href="#canyonlands" data-toggle="tab"> Drake Passage</a></li>
          <li class="liTabs"><a href="#horseshoe" data-toggle="tab">Falkland Islands</a></li>
          <li class="liTabs"><a href="#upper" data-toggle="tab">Port Lockroy</a></li>
        </ul>
      
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-xs-9 ">
    <div class="tab-content col9Style">
      <div class="tab-pane active" id="athabascaGlacier">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-xs-9">
            <div>
              <h2><span class="fa fa-heart-o" aria-hidden="true"></span>South Georgia</h2>
            </div>
           
           
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img id="img1" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\antarctica\2A.jpg" (click)="changeImage('img1', 'mainImage')">
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img id="img2" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\antarctica\3A.jpg" (click)="changeImage('img2', 'mainImage')">
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img id="img3" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\antarctica\1A.jpg" (click)="changeImage('img3', 'mainImage')">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3 ">
            <img id="img4" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\antarctica\4A.jpg" (click)="changeImage('img4', 'mainImage')">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
        </div>
        <div class="row rowStyle">
          <div class="col-lg-9 col-md-9 col-xs-9">
            <img id="mainImage" class="img-responsive imageContentBig" src="..\..\assets\semantic\themes\default\assets\images\antarctica\2A.jpg">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
          <div class="col-lg-3 col-md-3 col-xs-3">
            <img id="img5" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\antarctica\5A.jpg" (click)="changeImage('img5', 'mainImage')">
            <img id="img6" class="img-responsive imageContent" src="..\..\assets\semantic\themes\default\assets\images\antarctica\6A.jpg" (click)="changeImage('img6', 'mainImage')">
            <!--   <img class="img-responsive imageContent" src="E:\Facultate\an3\WEB\images\Africa.jpg"> -->
          </div>
        </div>
        <div class="row h3style">
          <div class="col-lg-12 col-md-12 col-xs-12">
            <h3>The long and narrow island of South Georgia is often referred to as 'the Alps in the mid-ocean' thanks to the steeply rising mountains that cover much of the land mass. Add to this low-lying grasslands, mighty glaciers and dramatic fjords, and you have one of the most picturesque parts of Antarctica.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <p>© 2017 Brasov</p>
</footer>