<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="jumbotron">
  <div class="col-md-3 col-lg-3 relative">
    <img class="relative" src="‪..\..\assets\semantic\themes\default\assets\images\img.jpg">
  </div>
  <h2>Travel is more than just getting up and going. It’s about being knowledgable so you can travel better, cheaper, and longer. So besides
       the destination guides above, below you will find links to articles I’ve written that deal with planning your trip and other general advice so your total vacation is as amazing as it can be. 
       All the advice I give is what I do on my own travels. These articles are relevant to any trip – no matter how long it is! After all, we all have to fly to our destination –
        no matter how long we stay there!</h2>
  <div class>
    <img  src="‪..\..\assets\semantic\themes\default\assets\images\travel.jpg" style="display: block;margin-left: auto;margin-right: auto;width: 60%;">
  </div>
</div>
<footer>
  <p>© 2017 Brasov</p>
</footer>
